<ion-header>
  <ion-toolbar>
    <ion-title>Todocreate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input clearInput [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea clearInput rows="10" cols="8"  [(ngModel)]="content"></ion-textarea>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4">
        <ion-button color="success" (click)="onSave()" >Submit</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button color="danger">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>


